<p>
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="customerAuthService.logout()">Logout</button>
</p>


<h1>Welcome to EAT ME!!</h1>
<h3>All available dishes:</h3>
<div *ngFor="let chef of chefs">
  <tr *ngFor="let dish of chef.dishes">
    <td >{{dish.name}} {{dish.price}} {{dish.description}} {{dish.serveTime}}</td>
    <!--<td *ngIf="dish.listed">{{dish.name}} {{dish.price}} {{dish.serveTime}}</td>-->
    <button (click)="addDish(dish)" class="btn btn-primary">Add</button>
  </tr>
</div>



<!--<ul>-->
  <!--<li *ngFor="let dish of dishes">-->
    <!--{{dish.name}} ({{dish.price}} {{dish.time}} {{dish.supply}})-->
    <!--<button (click)="addDish(dish.id)" class="btn btn-primary">Add</button>-->
  <!--</li>-->
<!--

<app-menu-list></app-menu-list>
<tr *ngFor="let menu of menus">
  <td>{{menu.name}}</td>
  <td>{{menu.price}}</td>
  <td>{{menu.description}}</td>
  <td>{{menu.serveTime}}</td>
  <td><button (click)="addDish(dish.id)" class="btn btn-primary">Add</button></td>
</tr>
-->


<button routerLink="/shoppingcart" class="btn btn-primary">Shopping Cart</button>
<button routerLink="/klantaccount" class="btn btn-primary">Account</button>

