<div class="logintxt">
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="customerAuthService.logout()" class="logout">Logout</button>
</div>
<p></p>

<div class="chefgegevens" *ngIf="chef">
  <h4 class="cuswelkomtxt2" data-shadow="eatme">Gegevens van {{chef.firstName}}</h4>
  <p></p>
  <div class="gegevensbox">
  <p class="gegevenstxt">Naam: {{chef.firstName}} {{chef.lastName}}</p>
  <p class="gegevenstxt">Adres: {{chef.address}}</p>
  <p class="gegevenstxt">Gem. Beoordeling: {{chef.rating}}</p>
  <p class="gegevenstxt">Aantal stemmen: {{chef.votes}}</p>
  <p></p>
  </div>
</div>

<div class="form-group8">
  <br>
  <button  routerLink="/customerhome" class="btn btn-primary2">Home</button>
  <br>
</div>
