<p class="chefacctxt">
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="chefAuthService.logout()" class="logout">Logout</button>
</p>


<h1 class="chefacctxt">Hi {{currentUser.firstName}}!</h1>
<p>Gemiddelde rating: {{(currentUser.rating/currentUser.votes).toFixed(1)}}</p>


<fieldset>
  <legend class="chefacctxt">Update je account gegevens</legend>
  <div class="chefacctxt">
    <p>Voornaam:</p>
    <input type="text" id="firstName" >
    <p>Achternaam:</p>
    <input type="text" id="lastName" >
  </div>
  <div class="chefacctxt">
    <p>Wachtwoord:</p>
    <input type="password" id="password" >
  </div>
  <div class="chefacctxt">
    <p>Adres:</p>
    <input type="text" id="address" >
  </div>
  <div class="chefacctxt">
    <p>Bankrekening:</p>
    <input type="text" id="bank" >
  </div>
  <div class="form-group6">
    <br>
    <button (click)="updateUser()" class="btn btn-primary1">Opslaan</button>
    <br>
  </div>
</fieldset>

<div class="form-group4">
  <br>
  <button  routerLink="/chef-home" class="btn btn-primary2">Home</button>
  <br>
</div>

<p></p>
<div class="logintxt">
<h2>Ontvangen orders:</h2>
<p *ngIf="this.currentUser.bestellingen.length=== 0">Je hebt nog geen orders ontvangen!</p>
<table *ngFor="let order of this.currentUser.bestellingen">
  <br>

  <h3 class="bestelling">Bestelling {{this.currentUser.bestellingen.indexOf(order)+1}}</h3>

  <tr *ngFor="let dish of order.dishes">
    <td>Gerecht: {{dish.name}}</td>
    <td>Prijs: {{dish.price}}</td>
    <td>Omschrijving: {{dish.description}}</td>
    <td>Serveertijd: {{dish.serveTime}}</td>
    <br>
    <td>Aantal {{order.dishCount[order.dishes.indexOf(dish)]}}</td>

  </tr>
</table>
</div>
