<p class="chefacctxt">
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="chefAuthService.logout()" class="logout">Logout</button>
</p>


<h1 class="chefacctxt">Hi {{currentUser.firstName}}!</h1>


<fieldset>
  <legend class="chefacctxt">Update account settings</legend>
  <div class="chefacctxt">
    <p>First Name:</p>
    <input type="text" id="firstName" >
    <p>Last Name:</p>
    <input type="text" id="lastName" >
  </div>
  <div class="chefacctxt">
    <p>Password:</p>
    <input type="password" id="password" >
  </div>
  <div class="chefacctxt">
    <p>Address:</p>
    <input type="text" id="address" >
  </div>
  <div class="chefacctxt">
    <p>Bank Account:</p>
    <input type="text" id="bank" >
  </div>
  <div class="form-group6">
    <br>
    <button (click)="updateUser()" class="btn btn-primary1">Save</button>
    <br>
  </div>
</fieldset>

<div class="form-group4">
  <br>
  <button  routerLink="/chef-home" class="btn btn-primary2">Home</button>
  <br>
</div>

<h2>Received orders:</h2>
<p *ngIf="this.currentUser.bestellingen.length=== 0">You have not received any orders yet!</p>
<table *ngFor="let order of this.currentUser.bestellingen">
  <br>
  <h3>Bestelling {{this.currentUser.bestellingen.indexOf(order)+1}}</h3>
  <tr *ngFor="let dish of order.dishes">
    <td>Name: {{dish.name}}</td>
    <td>Price: {{dish.price}}</td>
    <td>Description: {{dish.description}}</td>
    <td>Time: {{dish.serveTime}}</td>
    <br>
    <td>Amount{{order.dishCount[order.dishes.indexOf(dish)]}}</td>
  </tr>
</table>
