<div class="logintxt">
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="customerAuthService.logout()" class="logout">Logout</button>
</div>

<h1 class="hi">Hi {{currentUser.firstName}}!</h1>

<fieldset>
  <legend class="logintxt">Update account settings</legend>
<div class="acctxt">
    <p>First Name:</p>
    <input type="text" id="firstName" >
    <p>Last Name:</p>
    <input type="text" id="lastName" >
  </div>
  <div class="acctxt">
    <p>Password:</p>
    <input type="password" id="password" >
  </div>
  <div class="acctxt">
    <p>Address:</p>
    <input type="text" id="address" >
  </div>
  <div class="acctxt">
    <p>Bank Account:</p>
    <input type="text" id="bank" >
  </div>
  <div class="form-group6">
    <br>
    <button (click)="updateUser()" class="btn btn-primary1">Save</button>
    <br>
  </div>
</fieldset>

<div class="form-group4">
  <br>
  <button  routerLink="/customerhome" class="btn btn-primary2">Home</button>
  <br>
</div>
<div>
  <p></p>
  <h2 class="logintxt">Bestel geschiedenis:</h2>
</div>
<div class="logintxt">
<p *ngIf="this.currentUser.history.length=== 0">You have not ordered anything yet!</p>
  <table *ngFor="let order of this.currentUser.history">
    <br>
    <h3>Bestelling {{this.currentUser.history.indexOf(order)+1}}</h3>
    <tr *ngFor="let dish of order.dishes">
      <td>Name: {{dish.name}}</td>
      <td>Price: €{{dish.price}}</td>
      <td>Description: {{dish.description}}</td>
      <td>Time: {{dish.serveTime}}</td>
      <br>
      <td>Amount{{order.dishCount[order.dishes.indexOf(dish)]}}</td>
    </tr>
  </table>
</div>
