<div class="logintxt">
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="customerAuthService.logout()" class="logout">Logout</button>
</div>

<h1 class="hi">Hi {{currentUser.firstName}}!</h1>

<fieldset>
  <legend class="logintxt">Update je account gegevens</legend>
<div class="acctxt">
    <p>Voornaam:</p>
    <input type="text" id="firstName" >
    <p>Achternaam:</p>
    <input type="text" id="lastName" >
  </div>
  <div class="acctxt">
    <p>Wachtwoord:</p>
    <input type="password" id="password" >
  </div>
  <div class="acctxt">
    <p>Adres:</p>
    <input type="text" id="address" >
  </div>
  <div class="acctxt">
    <p>Bankrekening:</p>
    <input type="text" id="bank" >
  </div>
  <div class="form-group6">
    <br>
    <button (click)="updateUser()" class="btn btn-primary1">Opslaan</button>
    <br>
  </div>
</fieldset>

<div class="form-group4">
  <br>
  <button  routerLink="/customerhome" class="btn btn-primary2">Home</button>
  <br>
</div>
<div>
  <p></p>
  <h2 class="logintxt">Bestelgeschiedenis:</h2>
</div>

<div class="logintxt">
<p *ngIf="this.currentUser.history.length=== 0">Je hebt nog niks besteld!</p>
  <table *ngFor="let order of this.currentUser.history">
    <br>

    <h3 class="bestelling">Bestelling {{this.currentUser.history.indexOf(order)+1}}</h3>
    <h5 class="beoordeling"> Beoordeling: </h5>
    <div class="rate">
      <button id= "star1" (click)="rateUser(order.dishes[0].creator, 1)">1</button>
      <button id= "star2" (click)="rateUser(order.dishes[0].creator, 2)">2</button>
      <button id= "star3" (click)="rateUser(order.dishes[0].creator, 3)">3</button>
      <button id= "star4" (click)="rateUser(order.dishes[0].creator, 4)">4</button>
      <button id= "star5" (click)="rateUser(order.dishes[0].creator, 5)">5</button>
</div>

    <tr *ngFor="let dish of order.dishes">
      <td>Gerecht: {{dish.name}}</td>
      <td>Prijs: €{{dish.price}}</td>
      <td>Omschrijving: {{dish.description}}</td>
      <td>Serveertijd: {{dish.serveTime}}</td>
      <br>
      <td>Aantal {{order.dishCount[order.dishes.indexOf(dish)]}}</td>
    </tr>
  </table>
</div>
