<p>
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="chefAuthService.logout()">Logout</button>
</p>


<fieldset>
  <legend>Voeg hieronder uw nieuwe gerechten toe!</legend>
<div>
  <form [formGroup]="chefHome" (ngSubmit)="saveMenu($event)">
    <p><input formControlName="name" type="text" placeholder="Naam gerecht"></p>
    <p><input formControlName="price" type="number" placeholder="Prijs"></p>
    <p><input formControlName="description" type="text" placeholder="Omschrijving"></p>
    <p><input formControlName="serveTime" type="text" placeholder="Serveertijd"></p>
    <p><button type="submit" >Opslaan</button></p>
  </form>
</div>
</fieldset>
<!--- <app-menu-list></app-menu-list> --->
