<p>
  {{currentUser.firstName}}
  <button routerLink="/login" (click)="customerAuthService.logout()">Logout</button>
</p>

<fieldset>
<ul>
  <h3>Your ordered items:</h3>
  <div *ngIf="currentUser.currentOrder.length > 0">
  <li  *ngFor="let dish of currentUser.currentOrder" >
    {{dish.name}} ({{dish.price}} {{dish.description}} {{dish.serveTime}})

  </li>
    <p>Total sum: {{totalSum}}</p>
  </div>
</ul>

<div>
  <button (ngSubmit)="onSubmit()">Checkout</button>
</div>
</fieldset>

<div>
  <br>
  <button  routerLink="/customerhome" class="btn btn-primary">Home</button>
  <br>
</div>
